## rc CLI {{ .Version }}

Welcome to the latest release of the rc CLI!

### Installation

#### Homebrew
```bash
brew tap rc/rc
brew install --cask rc
```

#### NPM
```bash
npm install -g @rc/cli
```

#### Binary Download
Download the appropriate `rc_{{ .Version }}_<os>_<arch>.tar.gz` asset for your platform and extract it.

#### Go Install
```bash
go install github.com/rc/rc/cmd/rc@{{ .Tag }}
```
